#search-bar {
    display: flex;
    border-radius: 40px;
    margin: 50px auto;
    box-shadow: 3px 3px 10px -3px gray;
    background-color: white;
    overflow: hidden;
    width: 400px;
}

#search-bar input {
    all: unset;
    flex-grow: 1;
    padding: 10px 20px;
}

button {
    border: none;
    border-radius: 40px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(205,205,255);
    width: 30px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

button img {
    max-width: 13px;
    max-height: 13px;
}

button:hover {
    background-color: rgb(179,179,255);
}